.bubbles {
  @apply inset-0;
  position: absolute;
  display: flex;
  justify-content: space-around;
}
.bubbles span {
  position: relative;
  z-index: -1;
  width: 20px;
  height: 20px;
  background: #85d1eb;
  border-radius: 100%;
  -webkit-box-shadow: 4px 0px 19px 30px rgba(133, 209, 235, 0.42);
  -moz-box-shadow: 4px 0px 19px 30px rgba(133, 209, 235, 0.42);
  box-shadow: 4px 0px 19px 30px rgba(133, 209, 235, 0.42);
  animation: animate linear infinite;
}
@keyframes animate {
  0% {
    transform: translateY(100vh) translateX(0) scale(0);
  }
  100% {
    transform: translateY(-5vh) translateX(20vw) scale(1);
  }
}
