.main {
  @apply flex w-full h-screen overflow-hidden;
  .form {
    @apply relative min-w-[300px] max-w-[300px] flex flex-col translate-x-[-500px] shadow-slate-600 shadow-xl justify-center bg-blue-700 backdrop-blur-md bg-opacity-10 border-blue-500 border-2;
  }
  .form_active {
    @apply translate-x-0;
    transition: transform 1s ease-in-out;
  }
  .carouselSection {
    @apply w-full flex relative;
    .carousel {
      @apply opacity-0 h-[25rem] w-[52rem] flex self-center justify-center items-center;
      .carouselItem {
        @apply h-[20rem] flex flex-col justify-center items-start;
        span {
          @apply text-2xl font-bold;
        }
        ul {
          @apply text-[#44546B] text-lg mt-8;
        }
        li::before {
          content: '•';
          margin-right: 10px;
          color: #2d5adb;
        }
      }
    }
    .carousel_active {
      @apply opacity-100;
      transition: opacity 2s ease-in-out;
    }
  }
}
