@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;600;700;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer utilities {
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background: #5e5e5e;
  }
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

div[id='root'] {
  @apply flex w-full h-screen;
}

.errorText {
  @apply text-red-500 text-sm text-left;
}

.transitionGeneral {
  transition: all 1s ease-in-out;
}

.primaryField::after {
  margin-left: 4px;
  content: '*';
  color: rgb(222, 40, 40);
}

.logoGrid {
  background: -webkit-linear-gradient(45deg, rgb(253, 114, 48) 23%, rgb(0, 0, 0) 69%);
  background: -moz-linear-gradient(45deg, rgb(253, 114, 48) 23%, rgb(0, 0, 0) 69%);
  background: linear-gradient(45deg, rgb(253, 114, 48) 23%, rgb(0, 0, 0) 69%);
}

.table-row {
  transition: color 1s ease-in-out;
  cursor: pointer;
  text-align: center;
}
.ant-table-cell-row-hover {
  background-color: inherit !important;
}

.ant-select-selection-item {
  white-space: normal !important;
  line-height: 15px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.disable .ant-input-disabled {
  color: #fff !important;
  border-color: #fff !important;
}

.disable input[disabled]::placeholder {
  color: #fff !important;
}

.disable .ant-select-disabled .ant-select-selection-item {
  color: #fff !important;
}

.disable .ant-select-disabled .ant-select-selector {
  border-color: #fff !important;
  font-weight: normal !important;
}

.ant-select-item-option-content {
  display: flex;
  white-space: normal !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  line-height: 15px !important;
  align-items: center;
}
