@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;600;700;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer utilities {
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background: #898989;
  }
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.errorText {
  @apply text-red-500 text-sm text-left;
}

.transitionGeneral {
  transition: all 1s ease-in-out;
}

.primaryField::after {
  margin-left: 4px;
  content: '*';
  color: rgb(222, 40, 40);
}

.logoGrid {
  background: -webkit-linear-gradient(45deg, rgb(253, 114, 48) 23%, rgb(0, 0, 0) 69%);
  background: -moz-linear-gradient(45deg, rgb(253, 114, 48) 23%, rgb(0, 0, 0) 69%);
  background: linear-gradient(45deg, rgb(253, 114, 48) 23%, rgb(0, 0, 0) 69%);
}
