@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer utilities {
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background: #898989;
  }
}

html,
body {
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
}

.errorText {
  @apply text-red-500 text-sm text-left;
}
